html, body, span, p, a, ul, ol, li, table, th, td, h1, h2, h3, h4, h5, h6, strong, b, .lp-pom-text, .lp-pom-button, .lp-pom-root, .lp-pom-block, .lp-pom-form, .lp-pom-form-field {
    font-family: 'Aeonik', sans-serif !important;
}

::-moz-selection {
    color: white;
    background: var(--base-color);
    font-family: 'Aeonik', sans-serif !important;
}

::selection {
    color: white;
    background: var(--base-color);
    font-family: 'Aeonik', sans-serif !important;
}

.lp-pom-body,
#lp-pom-root,
#lp-pom-root-color-overlay,
#lp-pom-block-18-color-overlay,
#lp-pom-block-18,
#lp-pom-block-11,
#lp-code-14,
#lp-code-19,
.lp-positioned-content,
.lp-pom-block-content {
    height: auto !important;
    min-width: 100vw !important;
}

/* Position adjustments */
.lp-positioned-content {
    margin-left: 0 !important;
    left: 0;
}

/* Custom top positioning for specific element */
#lp-code-14 {
    top: 0;
    left: 0 !important;
}

.backdrop__3tG5Hl {
    padding: 0 !important;
    left: 0 !important;
    right: 0 !important;
}
