-let coreSaludo = 'Core Module';
section(class="main-container border border-[steelblue]") 
	div(class="container border border-[tomato]")
		h1(class='core-module-style') Flex 6 column
		div(class='flex flex-wrap')
			-for(let i = 1; i<=20; i++)
				div(class='w-full sm:w-1/2 m:w-1/3 lg:w-1/4 xl:w-1/5 xxl:w-1/6 p-3 border border-[green]')
					div(class='bg-red-100 m:max-lg:bg-[blue] h-32 flex items-center justify-center')
						span: b=coreSaludo
							| #{i}
