-let internalSaludo = 'Internal Module';	
section(class="main-container border border-[steelblue]") 
	div(class="container  border border-[tomato]") 
		h2(class='internal-module-style') grid 7 columns
		div(class='grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 xxl:grid-cols-6 gap-5')
			-for(let i = 1; i<=21; i++)
				div(class='bg-red-300 md:max-xl:bg-[blue] h-32 flex items-center justify-center')
					span: b= internalSaludo
						| #{i}
	