section(class="main-container")
	div(class="container") 
		h1 Text HTML Flat
		:markdown-it
			# This is a Markdown Title Example
			this is a paragraph example
			## This is a Markdown Subtitle Example
			this is a paragraph example
			### This is a Markdown Subtitle Example
			this is a paragraph example
			#### This is a Markdown Subtitle Example
			this is a paragraph example
	div(class="container") 
		h1 Importing Markdown files in the html