div(class="main-container bg-[var(--base-color)]")
	div(class="container")
		div(class="flex flex-col justify-between py-4 m:flex-row m:items-center m:justify-between gap-4")
			h1(class="text-3xl m:text-5xl font-bold mb-2 text-white") Enrique Estrada
			p(class="text-white text-sm") Front-End Developer & UI/UX Engineer
