div(class="main-container bg-gradient-to-br from-indigo-50/40 via-purple-50/30 to-pink-50/20" id="work-experience")
	div(class="container py-12 lg:py-16")
		div(class="mb-12 text-center")
			h2(class="text-3xl lg:text-4xl font-bold text-[var(--base-color)] mb-3 inline-block relative") Work Experience
			div(class="w-24 h-1 bg-gradient-to-r from-[var(--base-color)] to-blue-600 rounded-full mx-auto")
		div(class="space-y-12")
			include ./work-experience/trigal-media.pug
			include ./work-experience/brand-builders.pug
			include ./work-experience/prevent-security.pug
			include ./work-experience/assemble.pug
			include ./work-experience/accenture.pug
			include ./work-experience/business-solutions.pug
			include ./work-experience/prime-ideas.pug
			include ./work-experience/double-digit.pug
			include ./work-experience/experian.pug
