div(class='ed-container bottom-space')
	div(class='ed-item')
		h2 Technical Skills
	div(class='ed-item m-50 l-25')
		ul(style='list-style: none')
			li <strong>Frontend Development</strong>
				ul(style='padding-left: 0' class='feature-list no-marging') 
					li HTML5- CSS3 - SASS
					li Tailwind CSS - Bootstrap
					li JavaScript (ES6+)
					li TypeScript
					li React - Next - Remix
			
	div(class='ed-item m-50 l-25')
		ul(style='list-style: none')
			li <strong>UI/UX Design</strong>
				ul(style='padding-left: 0' class='feature-list no-marging') 
					li Figma - Adobe XD - Balsamiq
					li Design Systems
					li Responsive Design
					li Web Accessibility
					li User Research & Testing
					
					
			
	div(class='ed-item m-50 l-25')
		ul(style='list-style: none')
			li <strong>Development Tools</strong>
				ul(style='padding-left: 0' class='feature-list no-marging') 
					li Git/GitHub
					li Node - Webpack - Vite - Gulp
					li REST APIs
					li Strapi - Headless CMS
					li Wordpress - Themes
			
	div(class='ed-item m-50 l-25')
		ul(style='list-style: none')
			li <strong>Professional Skills</strong>
				ul(style='padding-left: 0' class='feature-list no-marging') 
					li Agile/Scrum
					li CI/CD - Jira - Asana - Trello
					li Technical Leadership
					li Problem Solving
					li Team Collaboration
