div(class='ed-container bottom-space')
	div(class='ed-item')
		h2 Technical Skills
	div(class='ed-item m-50 ')
		ul(style='list-style: none')
			li <strong>Frontend Development</strong>
				ul(style='padding-left: 0' class='feature-list no-marging') 
					li React - Next - Remix
					li Tailwind CSS - Bootstrap
					li Advanced CSS (Flexbox, Grid, Custom Properties, Animations)
					li Modern JavaScript (Async/Await, Closures, Event Loop)
					li Performance Optimization (Lazy Loading, Code Splitting, Core Web Vitals)
			
	div(class='ed-item m-50 ')
		ul(style='list-style: none')
			li <strong>UI/UX Design</strong>
				ul(style='padding-left: 0' class='feature-list no-marging') 
					li Figma (Components, Auto-layout, Prototyping)
					li Full Application Design & Architecture
					li Photoshop - Adobe XD - Balsamiq - Sketch
					li Design Systems
					li User Research (Interviews, Usability Testing, Heuristic Evaluation)
					li Design to Code Translation
					
					
			
	div(class='ed-item m-50 ')
		ul(style='list-style: none')
			li <strong>Development Tools</strong>
				ul(style='padding-left: 0' class='feature-list no-marging') 
					li Git/GitHub (Branching, Merging, Conflict Resolution)
					li Node - Webpack - Vite - Gulp
					li CMS Platforms (WordPress, Strapi) - Themes & Plugins Development
					li SQL Databases (MySQL)
					li REST APIs
			
	div(class='ed-item m-50 ')
		ul(style='list-style: none')
			li <strong>Professional Skills</strong>
				ul(style='padding-left: 0' class='feature-list no-marging') 
					li Agile/Scrum - CI/CD - Jira
					li Async Communication (Slack, Asana, GitHub)
					li Error Diagnosis & Troubleshooting
					li Security & Scalability
