div(class='ed-container bottom-space')
	div(class='ed-item')
		h2 Technical Skills
	div(class='ed-item m-50 l-25')
		ul(class="feature-list no-marging")
			li Project Management 
			li HTML5 CSS3
			li Adobe Suite (PS, XD)
			li UI and UX Development
			li Figma, Sketch, Balsamiq
			
			
	div(class='ed-item m-50 l-25')
		ul(class="feature-list no-marging")
			li Banner Development
			li Email Development
			li Salesforce
			li Javascript
			li Ajax
			
	div(class='ed-item m-50 l-25')
		ul(class="feature-list no-marging")
			li Git
			li Node JS (Gulp, Webpack)
			li Laravel (Blade)
			li Fire Base
			li PWA
			
	div(class='ed-item m-50 l-25')
		ul(class="feature-list no-marging")
			li React
			li Scrum, Agile Methodologies 
			li Jira, Asana, Trello
			li Wordpress, Themes Development
			li SQL
