div(class='ed-container bottom-space')
	div(class='ed-item')
		h2 Technical Skills
	div(class='ed-item m-50 l-25')
		ul(class="feature-list no-marging")
			li HTML5, PUG
			li CSS3 (SASS)
			li Adobe Suite (PS, XD)
			li UI and UX
			li Figma, Sketch, Balsamiq
			
			
	div(class='ed-item m-50 l-25')
		ul(class="feature-list no-marging")
			li Banner Development
			li Email Development
			li Salesforce
			li Javascript (ES6)
			li Ajax
			
	div(class='ed-item m-50 l-25')
		ul(class="feature-list no-marging")
			li Git
			li Node JS (Gulp, Webpack)
			li Laravel (Blade)
			li Fire Base
			li PWA
			
	div(class='ed-item m-50 l-25')
		ul(class="feature-list no-marging")
			li React, Next JS
			li Scrum
			li Jira, Asana
			li .NET
			li SQL
