div(class='ed-container')
	div(class='ed-item')
		h2 Work Experience
section.l-section.diagonal-section
	.ed-grid.cols-l-12.diagonal-section__content
		div.home-users.span-l-12
			.talk-break.l-section
				div(class='ed-container full')
					div(class='ed-item')
						span Confidential - Freelancer
					div(class='ed-item') 
						span September 2025 to Currently
			.talk.l-section
				.talk__hour
				.talk__info
					h3 Senior Web Developer.
					p React Developer building modern, high-performance user interfaces. Focus on creating reusable components, optimizing performance, and delivering clean, scalable code following React best practices. 
			.talk-break.l-section.second
				div(class='ed-container full')
					div(class='ed-item')
						span Brand Builders Sportsbook
					div(class='ed-item') 
						span May 2024 to August 2025
			.talk__info
				h3 Senior Web Developer Lead
				p Led an eight-person engineering team maintaining the company's main commercial website. Spearheaded development of the latest platform version using a modern headless architecture (Strapi CMS + React JS + Remix front-end). Coordinated tasks, ensured code quality, and guided the team through the full development lifecycle.
			
			.talk-break.l-section.third
				div(class='ed-container full')
					div(class='ed-item')
						span Prevent Security - BetUs Sportsbook
					div(class='ed-item') 
						span March 2023 to May 2024
			.talk.l-section
				.talk__hour
				.talk__info
					h3 Senior Front End Developer - Wordpress 
					p
						| Delivered high-impact WordPress projects strengthening digital presence for multiple brands. Mentored Junior developers and led critical website initiatives. Designed and implemented a custom scalable, component-based framework that streamlined development, reduced maintenance time, and improved product adaptability.	

			.talk-break.l-section.accent
				div(class='ed-container full')
					div(class='ed-item')
						span Assemble Studio
					div(class='ed-item') 
						span August 2021 to August 2022
			.talk.l-section
				.talk__hour
				.talk__info
					h3 Front End Developer.
					p
						| Developed and maintained Email Campaigns, Banners, Landing Pages, and Websites for diverse clients. Collaborated with design teams to implement and enhance UX practices. Involved in all project stages from requirement analysis to UX/UI design, creating wireframes and layouts using Adobe XD, Figma, Sketch, and Balsamiq. Built a Node JS toolkit with reusable code and integrated Salesforce for dynamic data management.

			.talk-break.l-section.second
				div(class='ed-container full')
					div(class='ed-item')
						span Accenture
					div(class='ed-item') 
						span July 2020 to July 2021
			.talk__info
				h3 Web Developer Senior Analyst.
				p 
					| Led design and management of Email Campaigns, Banners, Landing Pages, and Websites for diverse clients. Partnered with design teams to refine UX practices and establish industry benchmarks. Covered all project phases from requirement analysis to UX/UI design, creating wireframes and prototypes using Adobe XD, Figma, Sketch, and Balsamiq. Developed a Node JS toolkit with modular, reusable code and integrated Salesforce for dynamic content management.

			.talk-break.l-section.third
				div(class='ed-container full')
					div(class='ed-item')
						span Business Solutions - JazzSports Sportsbook
					div(class='ed-item') 
						span November 2017 to December 2019
			.talk.l-section
				.talk__hour
				.talk__info
					h3 Technical Lead Manager
					p
						| Led a diverse team of 20+ front-end developers and designers through complex projects and innovative product developments. Implemented agile methodologies to streamline workflows and enhance collaboration. Managed approximately 10 projects monthly, delivering high-quality results on time. Developed and launched email platforms, animated banners, and websites. Fostered continuous learning, shared best practices, and created an innovative environment that improved team dynamics and productivity.

					
			.talk-break.l-section
				div(class='ed-container full')
					div(class='ed-item')
						span Prime Ideas - MyBookie
					div(class='ed-item') 
						span February 2016 to October 2017
			.talk.l-section
				.talk__hour
				.talk__info
					h3 Technical Lead Manager
					p
						| Led a diverse team of 20+ front-end developers and designers through complex projects and innovative product developments. Implemented agile methodologies to streamline workflows and enhance collaboration. Managed approximately 10 projects monthly, delivering high-quality results on time. Developed and launched email platforms, animated banners, and websites. Fostered continuous learning, shared best practices, and created an innovative environment that improved team dynamics and productivity.
			
			
			
			
			.talk-break.l-section.second
				div(class='ed-container full')
					div(class='ed-item')
						span Double Digit
					div(class='ed-item') 
						span September 2015 to February 2016

			.talk.l-section
				.talk__hour
				.talk__info
					h3 Front End Developer.
					p 
						| Developed and maintained Email Campaigns, Banners, Landing Pages, and Websites tailored to client needs. Interpreted client requirements and collaborated with design teams to advance UX practices. Involved throughout the project lifecycle, creating wireframes and prototypes using Adobe XD, Figma, Sketch, and Balsamiq. Built a Node JS toolkit with modular, reusable code and integrated Salesforce for dynamic data management.

					
					

			
			.talk-break.l-section.third
				div(class='ed-container full')
					div(class='ed-item')
						span Experian Marketing Services
					div(class='ed-item') 
						span August 2012 to October 2015
			.talk.l-section
				.talk__hour
				.talk__info
					h3 Front End and Email Developer.
					p 
						| Developed and maintained Email Campaigns, Banners, Landing Pages, and Websites for diverse clients. Interpreted client requirements and collaborated with design teams to advance UX practices. Involved throughout the project lifecycle, creating wireframes and prototypes using Adobe XD, Figma, Sketch, and Balsamiq. Built a Node JS toolkit with modular, reusable code and integrated Salesforce for dynamic data management.
