div(class='ed-container')
	div(class='ed-item')
		h2 Work Experience
section.l-section.diagonal-section
	.ed-grid.cols-l-12.diagonal-section__content
		div.span-l-2
		div.home-users.span-l-9
			// Presentación
			.talk-break.l-section.second
				.talk__hour August 2021 <br> Currently
				span Business Solutions
			// Charla 1 - Jon
			.talk__info
				h3 Technical Lead Manager
				p
					| As a Tech Lead Manager at my current company, I have been at the forefront of a significant technological update process, demonstrating a keen ability to merge my technical expertise with robust project management skills. My role has required me to lead a diverse team of over 20 professionals, including front-end developers and designers, through complex projects and innovative product developments.
					br
					br
					| My leadership extends beyond traditional technical guidance, as I've implemented agile methodologies to streamline our workflow, enhance team collaboration, and increase efficiency. This approach has enabled us to deliver high-quality projects within the stipulated timelines, fostering a culture of continuous learning and improvement. By imparting knowledge on best development practices and trending technologies, I've nurtured an environment where innovation thrives.
					br
					br
					| Under my direction, the team has developed and launched new products, such as email development platforms, animated banners, and websites, significantly expanding our project coverage and output. My ability to manage around 10 projects monthly—balancing technical challenges with project management demands—has been pivotal in consistently delivering excellent results. This success is reflected in our adherence to deadlines and the outstanding quality of our work.
					br
					br
					| Incorporating agile project management practices, I've empowered my team to adapt to changing requirements and deliver value more effectively, embodying the principles of flexibility, transparency, and continuous feedback. This agile framework has not only improved our project outcomes but has also enhanced team dynamics and productivity, solidifying our position as a forward-thinking and adaptable technical unit.
					br
					br 						
					|<strong>References: </strong> 
					br
					br 						
					|<strong>Name</strong>: Ricardo Corrales
					br
					|<strong>Position</strong>: CTO
					br
					|<strong>Phone</strong>: +506 60594573

			div.span-l-2
				div.home-users.span-l-9
					// Presentación
					.talk-break.l-section.third
						.talk__hour Aug 2021 <br> Aug 2022
						span Assemble Studio
					// Charla 1 - Jon
					.talk.l-section
						.talk__hour
						.talk__info
							h3 Front End Developer.
							p
								| In my role, I was tasked with the creation and maintenance of Email Campaigns, Banners, Landing Pages, and Websites, all tailored to the diverse needs of our clients.
								br
								br
								| I was responsible for interpreting client requirements and creative briefs for a variety of projects. I also worked in close collaboration with the design team to implement and enhance UX practices, setting industry standards in the process.
								br
								br
								| My involvement spanned all stages of project development, from initial requirement analysis to UX and UI design. I contributed to the creation of wireframes, mockups, and layouts for numerous projects, utilizing tools such as Adobe XD, Figma, Sketch, and Balsamiq.
								br
								br
								| To streamline the development process, I developed a bundle with Node JS and other tools, incorporating reusable code to enhance efficiency. This also involved the use of Salesforce for handling dynamic data and the development of templates and modules, further showcasing my versatility and technical prowess.
								br
								br
								| <strong>References: </strong>
								br
								br
								| <strong>Name</strong>: Geudy Marín
								br
								| <strong>Position</strong>: General Manager
								br
								| <strong>Phone</strong>: +506 88940372
								br
								br
								| <strong>Name</strong>: Fabián Miranda
								br
								| <strong>Position</strong>: Technical Lead
								br
								| <strong>Phone</strong>: +506 84808409
						
			// Presentación
			.talk-break.l-section
				.talk__hour July 2020 <br> July 2021
				span Accenture

			// Charla 1 - Jon
			.talk.l-section
				.talk__hour
				.talk__info
					h3 Web Developer Senior Analyst.
					p 
						| In my capacity, I was charged with spearheading the design and ongoing management of Email Campaigns, Banners, Landing Pages, and Websites, each crafted to meet our clients' varied requirements.
						br
						br
						| My duties included deciphering the needs and creative directives of clients across a spectrum of projects. Additionally, I fostered a synergistic partnership with our design team to refine and elevate UX practices, thereby establishing benchmarks within the industry.
						br
						br
						| My engagement covered every phase of project execution, from the preliminary analysis of requirements through to the design of UX and UI. I played a key role in the generation of wireframes, prototypes, and designs for a multitude of initiatives, employing a range of tools such as Adobe XD, Figma, Sketch, and Balsamiq.
						br
						br 						
						| In an effort to optimize our development workflow, I formulated a toolkit using Node JS among other resources, which included modular and reusable code to boost productivity. This approach was complemented by leveraging Salesforce to manage dynamic content, and crafting templates and modules, further illustrating my adaptability and technical acumen.
						br
						br 						
						|<strong>References: </strong> 
						br
						br 						
						|<strong>Name</strong>: Andres Sirera
						br
						|<strong>Position</strong>: Project Manager
						br
						|<strong>Phone</strong>: +506 88203963
						br
						br 						
						|<strong>Name</strong>: Miguel Muñoz
						br
						|<strong>Position</strong>: QA Manager
						br
						|<strong>Phone</strong>: +506 720936001
			// Coffe break
			.talk-break.l-section.second
				.talk__hour Feb 2016 <br> Oct 2018
				span Prime Software

			// Charla 1 - Jon
			.talk.l-section
				.talk__hour
				.talk__info
					h3 Front End Developer.
					p
						| In my position, I was charged with the design and upkeep of Email Campaigns, Banners, Landing Pages, and Websites, each customized to the unique requirements of our clients.
						br
						br
						| My duties encompassed deciphering client needs and creative directives for a range of projects. I partnered with the design team to enforce and refine UX practices, thereby establishing benchmarks within the industry.
						br
						br
						| I was engaged in every facet of project development, from the inception stage of requirement analysis to the execution of UX and UI design. I assisted in the production of wireframes, mockups, and layouts for a variety of projects, employing tools such as Adobe XD, Figma, Sketch, and Balsamiq.
						br
						br
						| In an effort to optimize the development process, I engineered a bundle with Node JS and other tools, integrating reusable code to boost productivity. This also included the utilization of Salesforce for managing dynamic data and the creation of templates and modules, further demonstrating my adaptability and technical acumen.
						br
						br
						|<strong>References: </strong> 
						br
						br 						
						|<strong>Name</strong>: Juan Carlos Brown
						br
						|<strong>Position</strong>: Technical Lead
						br
						|<strong>Phone</strong>: +506 83362413
						br
						br 						
						|<strong>Name</strong>: Ricardo Corrales
						br
						|<strong>Position</strong>: Project Manager
						br
						|<strong>Phone</strong>: +506 60594573
					
					

			// Premiación
			.talk-break.l-section.third
				.talk__hour 2012 <br> Oct 2015
				span Experian Marketing Services
			// Charla 1 - Jon
			.talk.l-section
				.talk__hour
				.talk__info
					h3 Front End and Email Developer.
					p 
						| In my capacity, I was responsible for orchestrating the development and maintenance of Email Campaigns, Banners, Landing Pages, and Websites, each meticulously crafted to cater to the specific needs of our clients.
						br
						br
						| My role required the interpretation of clients' requirements and creative visions across a diverse portfolio of projects. I closely collaborated with the design team to advance and polish UX practices, setting new industry standards in the process.
						br
						br
						| Throughout the entire project lifecycle, from initial requirement gathering to the final stages of UX and UI implementation, I was deeply involved. I contributed to the creation of wireframes, prototypes, and final designs for a wide range of projects, utilizing advanced design tools like Adobe XD, Figma, Sketch, and Balsamiq.
						br
						br 						
						| To enhance the efficiency of the development workflow, I devised a comprehensive toolkit leveraging Node JS and additional technologies, incorporating modular and reusable code to elevate productivity. This initiative also encompassed the adoption of Salesforce for effective dynamic data management and the development of templates and modules, underscoring my ability to adapt and excel in technical environments.
						br
						br 						
						|<strong>References: </strong> 
						br
						br 						
						|<strong>Name</strong>: Alejandro Zúñiga
						br
						|<strong>Position</strong>: Technical Lead
						br
						|<strong>Phone</strong>: +506 88134955

			.talk-break.l-section.accent
				.talk__hour Feb 2009 <br> Oct 2011
				span Colegio Universitario Boston
			// Charla 1 - Jon
			.talk.l-section
				.talk__hour
				.talk__info
					h3 Web Development Trainer and Manager
					p
						| At this company, I worked as a Computer Science Instructor, teaching courses in office software including Windows, Word, Excel, PowerPoint, Access, and Internet usage.
						br
						br
						| In addition to these, I also taught web development courses, covering HTML, CSS, and JavaScript.
						br
						br
						| As the Academic Coordinator and Head of Teachers, I led a team of 25 individuals, overseeing their work and providing guidance and support as needed.
						br
						br
						| <strong>References: </strong>
						br
						br
						| <strong>Name</strong>: Emerson Paniagua.
						br
						| <strong>Position</strong>: Academic Director
						br
						| <strong>Contact Linkedin</strong>: linkedin.com/in/paniagua-emerson-22a1b02a
