div(class='ed-container')
	div(class='ed-item')
		h2 Work Experience
section.l-section.diagonal-section
	.ed-grid.cols-l-12.diagonal-section__content
		div.span-l-2
		div.home-users.span-l-9
			// Presentación
			.talk-break.l-section.third
				.talk__hour August 2021 <br> Currently
				span Assemble Studio

			// Charla 1 - Jon
			.talk.l-section
				.talk__hour
				.talk__info
					h3 Front End Developer.
					p 
						|My role is to develop and maintenance of <strong>Email Campaigns, Banners, and landing Pages, Websites</strong> for the different clients of the company.
						br
						br
						|I receive the requirements of the client and the creative department of the different works to be developed.
						br
						br
						|Collaborate with the design department to implement and improve the UX practices and implement standards.
						br
						br 						
						|Participate in the requirements stage, UX and UI design, and the creation of Wireframes, mockups, and layouts of the different projects using tools as Adobe XD, Figma, Sketch, Balsamiq
						br
						br 						
						|I developed a bundle with Node JS to automate the development process and other tools with some reusable code
						br
						br 						
						|<strong>References: </strong> 
						br
						br 						
						|<strong>Name</strong>: Geudy Marín
						br
						|<strong>Position</strong>: General Manager
						br
						|<strong>Phone</strong>: +506 88940372
						br
						br
						|<strong>Name</strong>: Fabián Miranda
						br
						|<strong>Position</strong>: Technical Lead
						br
						|<strong>Phone</strong>: +506 84808409

						
			// Presentación
			.talk-break.l-section
				.talk__hour July 2020 <br> July 2021
				span Accenture

			// Charla 1 - Jon
			.talk.l-section
				.talk__hour
				.talk__info
					h3 Web Developer Senior Analyst.
					p 
						|My role is to develop and maintenance of <strong>Email Campaigns, landing Pages and Websites</strong> for the different clients of the company.
						br
						br
						|I receive the requirements of the client and the creative department of the different works to be developed.
						br
						br
						|Collaborate with the design department to implement and improve the UX practices and implement standards.
						br
						br 						
						|Participate in the requirements stage, UX and UI design, and the creation of Wireframes, mockups, and layouts of the different projects using tools as Adobe XD, Figma, Sketch, Balsamiq
						br
						br 						
						|I developed a bundle with Node JS to automate the development process and other tools with some reusable code
						br
						br 		
						|Dynamic Data using Salesforce and develop of templates and Modules. 
						br
						br 						
						|<strong>References: </strong> 
						br
						br 						
						|<strong>Name</strong>: Andres Sirera
						br
						|<strong>Position</strong>: Project Manager
						br
						|<strong>Phone</strong>: +506 88203963
						br
						br 						
						|<strong>Name</strong>: Miguel Muñoz
						br
						|<strong>Position</strong>: QA Manager
						br
						|<strong>Phone</strong>: +506 720936001
			// Coffe break
			.talk-break.l-section.second
				.talk__hour Feb 2016 <br> Oct 2018
				span Prime Ideas

			// Charla 1 - Jon
			.talk.l-section
				.talk__hour
				.talk__info
					h3 Front End Developer.
					p
						|My role is to develop and maintenance of <strong>Websites, forms and other interfaces</strong> for the different internal projects of the company.
						br
						br
						|Front End technical lead and part of my job was also give Training for junior developers.
						br
						br
						|Collaborate with the design department to implement and improve the UX practices and implement my coding practices as company standards.
						br
						br
						|I participated in the requirements stage, UX and UI design, and creation of Wireframes, mockups, and layout of the different projects
						br
						br
						|Using different FrontEnd technologies such as Laravel (Blade), React Js, and VUE JS to Consume the BackEnd.
						br
						br
						|I participated in multiple interfaces and integrations for an online payment engine and Interactive Sportsbook betting application: MyBookie WebSite, MYB Casino and Interactive Sports Book Betting Interface.
						br
						br
						|<strong>References: </strong> 
						br
						br 						
						|<strong>Name</strong>: Juan Carlos Brown
						br
						|<strong>Position</strong>: Technical Lead
						br
						|<strong>Phone</strong>: +506 83362413
						br
						br 						
						|<strong>Name</strong>: Ricardo Corrales
						br
						|<strong>Position</strong>: Project Manager
						br
						|<strong>Phone</strong>: +506 60594573
					
					

			// Premiación
			.talk-break.l-section.third
				.talk__hour July 2012 <br> Oct 2015
				span Experian Marketing Services
			// Charla 1 - Jon
			.talk.l-section
				.talk__hour
				.talk__info
					h3 Front End and Email Developer.
					p 
						|My role is to develop and maintenance of <strong>Email Campaigns, and landing Pages, Websites</strong> for the different clients of the company.
						br
						br
						|I receive the requirements of the client and the creative department of the different works to be developed.
						br
						br
						|Collaborate with the design department to implement and improve the UX practices and implement standards.
						br
						br 						
						|Participate in the requirements stage, UX and UI design, and the creation of Wireframes, mockups, and layouts of the different projects.
						br
						br 						
						|I developed a bundle with Node JS to automate the development process and other tools with some reusable code
						br
						br 						
						|<strong>References: </strong> 
						br
						br 						
						|<strong>Name</strong>: Alejandro Zúñiga
						br
						|<strong>Position</strong>: Technical Lead
						br
						|<strong>Phone</strong>: +506 88134955
