div(class='ed-container')
	div(class='ed-item')
		h2 Work Experience
section.l-section.diagonal-section
	.ed-grid.cols-l-12.diagonal-section__content
		div.span-l-2
		div.home-users.span-l-9
			// Presentación
			.talk-break.l-section.second
				.talk__hour August 2021 <br> Currently
				span Business Solutions
			// Charla 1 - Jon
			.talk__info
				h3 Project Manager
				p
					| As a Tech Lead Manager at my current company, I have played a pivotal role in a comprehensive technological update process. Leveraging my technical background, I have successfully led a diverse team of over 20 professionals, including front-end developers and designers.
					br
					br
					| My leadership has been instrumental in establishing an efficient workflow, enabling us to deliver high-quality projects within the stipulated timelines. I have imparted knowledge on best development practices and trending technologies, fostering a culture of continuous learning and improvement within the team.
					br
					br
					| Under my guidance, we have developed and launched new products, including email development, animated banners, and websites. This has significantly increased our project coverage and output.
					br
					br
					| On average, I manage around 10 projects monthly, consistently delivering excellent results in terms of quality and adherence to deadlines.
					br
					br 						
					|<strong>References: </strong> 
					br
					br 						
					|<strong>Name</strong>: Ricardo Corrales
					br
					|<strong>Position</strong>: CTO
					br
					|<strong>Phone</strong>: +506 60594573

			div.span-l-2
				div.home-users.span-l-9
					// Presentación
					.talk-break.l-section.third
						.talk__hour Aug 2021 <br> Aug 2022
						span Assemble Studio
					// Charla 1 - Jon
					.talk.l-section
						.talk__hour
						.talk__info
							h3 Front End Developer.
							p
								| In my role, I was responsible for the development and maintenance of Email Campaigns, Banners, Landing Pages, and Websites catering to the diverse needs of the company's clients.
								br
								br
								| My responsibilities included receiving and interpreting client requirements and the creative briefs for various projects. I worked closely with the design department to implement and enhance UX practices and establish industry standards.
								br
								br
								| I was actively involved in all stages of project development, from requirements gathering to UX and UI design. I contributed to the creation of wireframes, mockups, and layouts for various projects, utilizing tools such as Adobe XD, Figma, Sketch, and Balsamiq.
								|
								br
								br
								| In an effort to streamline the development process, I developed a bundle with Node JS and other tools, incorporating reusable code to enhance efficiency and productivity.
								br
								br
								| <strong>References: </strong>
								br
								br
								| <strong>Name</strong>: Geudy Marín
								br
								| <strong>Position</strong>: General Manager
								br
								| <strong>Phone</strong>: +506 88940372
								br
								br
								| <strong>Name</strong>: Fabián Miranda
								br
								| <strong>Position</strong>: Technical Lead
								br
								| <strong>Phone</strong>: +506 84808409
						
			// Presentación
			.talk-break.l-section
				.talk__hour July 2020 <br> July 2021
				span Accenture

			// Charla 1 - Jon
			.talk.l-section
				.talk__hour
				.talk__info
					h3 Web Developer Senior Analyst.
					p 
						| In my role, I was tasked with the creation and maintenance of Email Campaigns, Banners, Landing Pages, and Websites, all tailored to the diverse needs of our clients.
						br
						br
						| I was responsible for interpreting client requirements and creative briefs for a variety of projects. I also worked in close collaboration with the design team to implement and enhance UX practices, setting industry standards in the process.
						br
						br
						| My involvement spanned all stages of project development, from initial requirement analysis to UX and UI design. I contributed to the creation of wireframes, mockups, and layouts for numerous projects, utilizing tools such as Adobe XD, Figma, Sketch, and Balsamiq.
						br
						br 						
						| To streamline the development process, I developed a bundle with Node JS and other tools, incorporating reusable code to enhance efficiency. This also involved the use of Salesforce for handling dynamic data and the development of templates and modules, further showcasing my versatility and technical prowess.
						br
						br 						
						|<strong>References: </strong> 
						br
						br 						
						|<strong>Name</strong>: Andres Sirera
						br
						|<strong>Position</strong>: Project Manager
						br
						|<strong>Phone</strong>: +506 88203963
						br
						br 						
						|<strong>Name</strong>: Miguel Muñoz
						br
						|<strong>Position</strong>: QA Manager
						br
						|<strong>Phone</strong>: +506 720936001
			// Coffe break
			.talk-break.l-section.second
				.talk__hour Feb 2016 <br> Oct 2018
				span Prime Software

			// Charla 1 - Jon
			.talk.l-section
				.talk__hour
				.talk__info
					h3 Front End Developer.
					p
						| In my role, I was responsible for the development and maintenance of Websites, forms, and other interfaces for various internal projects within the company.
						br
						br
						| As a Front-End technical lead, part of my duties included providing training and mentorship for junior developers. I worked closely with the design department to implement and enhance UX practices, and my coding practices were adopted as company standards.
						br
						br
						| I was actively involved in all stages of project development, from requirements gathering to UX and UI design. I contributed to the creation of wireframes, mockups, and layouts for various projects.
						br
						br
						| I utilized a range of Front-End technologies, including Laravel (Blade), React Js, and VUE JS, to interface with the Back-End.
						br
						br
						| My role also involved participating in multiple interfaces and integrations for an online payment engine and an Interactive Sportsbook betting application.
						br
						br
						|<strong>References: </strong> 
						br
						br 						
						|<strong>Name</strong>: Juan Carlos Brown
						br
						|<strong>Position</strong>: Technical Lead
						br
						|<strong>Phone</strong>: +506 83362413
						br
						br 						
						|<strong>Name</strong>: Ricardo Corrales
						br
						|<strong>Position</strong>: Project Manager
						br
						|<strong>Phone</strong>: +506 60594573
					
					

			// Premiación
			.talk-break.l-section.third
				.talk__hour 2012 <br> Oct 2015
				span Experian Marketing Services
			// Charla 1 - Jon
			.talk.l-section
				.talk__hour
				.talk__info
					h3 Front End and Email Developer.
					p 
						| In my position, I was charged with the design and upkeep of Email Campaigns, Banners, Landing Pages, and Websites, each customized to the unique requirements of our clients.
						br
						br
						| My duties encompassed deciphering client needs and creative directives for a range of projects. I partnered with the design team to enforce and refine UX practices, thereby establishing benchmarks within the industry.
						br
						br
						| I was engaged in every facet of project development, from the inception stage of requirement analysis to the execution of UX and UI design. I assisted in the production of wireframes, mockups, and layouts for a variety of projects, employing tools such as Adobe XD, Figma, Sketch, and Balsamiq.
						br
						br 						
						| In an effort to optimize the development process, I engineered a bundle with Node JS and other tools, integrating reusable code to boost productivity. This also included the utilization of Salesforce for managing dynamic data and the creation of templates and modules, further demonstrating my adaptability and technical acumen.
						br
						br 						
						|<strong>References: </strong> 
						br
						br 						
						|<strong>Name</strong>: Alejandro Zúñiga
						br
						|<strong>Position</strong>: Technical Lead
						br
						|<strong>Phone</strong>: +506 88134955

			.talk-break.l-section.accent
				.talk__hour Feb 2009 <br> Oct 2011
				span Colegio Universitario Boston
			// Charla 1 - Jon
			.talk.l-section
				.talk__hour
				.talk__info
					h3 Web Development Trainer and Manager
					p
						| At this company, I worked as a Computer Science Instructor, teaching courses in office software including Windows, Word, Excel, PowerPoint, Access, and Internet usage.
						br
						br
						| In addition to these, I also taught web development courses, covering HTML, CSS, and JavaScript.
						br
						br
						| As the Academic Coordinator and Head of Teachers, I led a team of 25 individuals, overseeing their work and providing guidance and support as needed.
						br
						br
						| <strong>References: </strong>
						br
						br
						| <strong>Name</strong>: Emerson Paniagua.
						br
						| <strong>Position</strong>: Academic Director
						br
						| <strong>Contact Linkedin</strong>: linkedin.com/in/paniagua-emerson-22a1b02a
