div(class='flex flex-col gap-[40px] mb-[40px]' id='component-4')
	h2(class='m-0') Component 4
	div
		button(type="button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out") Button
	div
		:markdown-it(html)
			```css
			body{
				background: red;
			}
			```