div(class='flex flex-col gap-[40px] mb-[40px]' id='component-6')
	h2(class='m-0') Component 6
	div
		button(type="button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out") Button) Button
	div
	:markdown-it(html)
		```html
		<a class="button">.button.first-color</a>
		<a class="button second-color">.button.second-color</a>
		<a class="button third-color">.button.third-color</a>
		<a class="button accent-color">.button.accent-color</a>
		<a class="button dark-color">.button.dark-color</a>
		<a class="button text-color">.button.text-color</a>
		<a class="button light-color">.button.light-color</a>

		```