section(class='main-container')
	div(class='container')
		div(class='flex flex-col l:flex-row gap-[40px] mb-[40px]')
			div(class='order-2 l:order-1 w-full l:w-[400px] min-h-32') 
				ul(class="flex flex-col gap-2 p-4 bg-gray-100 rounded-lg shadow-md list-none sticky top-0 z-10")
					li(class="hover:bg-gray-200 rounded transition-colors")
						a(href='#component-1' class="block px-4 py-2 text-gray-700 hover:text-blue-600 no-underline hover:no-underline") component-1
					li(class="hover:bg-gray-200 rounded transition-colors")
						a(href='#component-2' class="block px-4 py-2 text-gray-700 hover:text-blue-600 no-underline hover:no-underline") component-2
					li(class="hover:bg-gray-200 rounded transition-colors")
						a(href='#component-3' class="block px-4 py-2 text-gray-700 hover:text-blue-600 no-underline hover:no-underline") component-3
					li(class="hover:bg-gray-200 rounded transition-colors")
						a(href='#component-4' class="block px-4 py-2 text-gray-700 hover:text-blue-600 no-underline hover:no-underline") component-4
					li(class="hover:bg-gray-200 rounded transition-colors")
						a(href='#component-5' class="block px-4 py-2 text-gray-700 hover:text-blue-600 no-underline hover:no-underline") component-5
					li(class="hover:bg-gray-200 rounded transition-colors")
						a(href='#component-6' class="block px-4 py-2 text-gray-700 hover:text-blue-600 no-underline hover:no-underline") component-6
					li(class="hover:bg-gray-200 rounded transition-colors")
						a(href='#component-7' class="block px-4 py-2 text-gray-700 hover:text-blue-600 no-underline hover:no-underline") component-7
					li(class="hover:bg-gray-200 rounded transition-colors")
						a(href='#component-8' class="block px-4 py-2 text-gray-700 hover:text-blue-600 no-underline hover:no-underline") component-8
					li(class="hover:bg-gray-200 rounded transition-colors")
						a(href='#component-9' class="block px-4 py-2 text-gray-700 hover:text-blue-600 no-underline hover:no-underline") component-9
					li(class="hover:bg-gray-200 rounded transition-colors")
						a(href='#component-10' class="block px-4 py-2 text-gray-700 hover:text-blue-600 no-underline hover:no-underline") component-10
			div(class='order-1 l:order-2 w-full l:flex-1 min-h-32') 
				include component-1.pug
				include component-2.pug
				include component-3.pug
				include component-4.pug
				include component-5.pug
				include component-6.pug
				include component-7.pug
				include component-8.pug
				include component-9.pug
				include component-10.pug
block scripts
