@import "core/media-queries";
@import "core/fonts";
@import "core/layout";
@import "components/components";
body{
	@include fromTo(m,xl){
		background-color: green !important;
	}
}


:root{
	--base-color: steelblue;
	--header-height: 96px;
	--footer-height: 96px;
	@include from(l){
		--header-height: 150px;
		--footer-height: 150px;
	}
}

