


@import "core/media-queries";
@import "core/fonts";
@import "core/layout";
@import "components/components";
@import "core/hacks";



:root{
	--base-color: steelblue;
	--header-height: 64px;
	--footer-height: 64px;
	@include from(l){
		--header-height: 64px;
		--footer-height: 64px;
	}
}
