extends ../config/template 
append config
	-currentPage		= "home"
	-siteName			= 'site'
	-content			= 'content'
	-pageDescription	= 'Pagina inicial de MyBoilerplate'
block body-container
		include ../core-components/core-component
		include ../internal-components/internal-component
		div(class="@container max-w-xl mx-auto")
			h1(class="text-4xl font-bold") MyBoilerplate
		//include ../internal-components/flex
		//include ../internal-components/grid
block scripts
