extends ../config/template 
append config
	-currentPage		= "home"
	-siteName			= 'site'
	-content			= 'content'
	-pageDescription	= 'Pagina inicial de MyBoilerplate'
block main-header
block main-container
	section(class="main-container border border-[steelblue]") 
		div(class="container  border border-[tomato]") 
			h1(class="text-6xl font-bold") Boilerplate
block main-footer
block scripts
