extends ../config/template 
append config
	-currentPage		= "home"
	-siteName			= 'site'
	-content			= 'content'
	-pageDescription	= 'Pagina inicial de MyBoilerplate'
block body-container
	include ../internal-components/flex
	include ../internal-components/grid
	include ../internal-components/sidebar
	include ../internal-components/table
	include ../internal-components/text
block scripts
