extends ../config/template 
append config
	-currentPage		= "home"
	-siteName			= 'site'
	-content			= 'content'
	-pageDescription	= 'Pagina inicial de MyBoilerplate'
block body-container
	include ../components/style-guide
	include ../components/editor-css
	include ../components/flex-module
	include ../components/grid-module
	include ../components/list-module
	include ../components/sidebar-module
	include ../components/sprite-svg	
	include ../components/table-module
	include ../components/text-module
block scripts
