extends ../config/template 
append config
	-currentPage		= "Resume"
	-siteName			= 'Enrique Estrada'
	-content			= 'Senior Frontend Architect & Technical Lead'
	-pageDescription	= 'Senior Frontend Architect and Technical Lead with 15+ years building scalable React, WordPress, and Headless CMS platforms, leading engineering teams, and delivering high-traffic digital products.'
block main-header
	include ../modules/top-nav-title
block main-container 
	include ../modules/career-highlights
	include ../modules/skills
	include ../modules/work-experience
	include ../modules/portfolio
block main-footer
	include ../modules/footer
block scripts
