extends ../config/template 
append config
	-currentPage		= "home"
	-siteName			= 'Enrique Estrada - Portfolio'
	-content			= 'Senior Front-End Developer & UI/UX Engineer'
	-pageDescription	= 'Senior Front-End Developer & UI/UX Engineer with over a decade of experience building fast, scalable, and user-centered interfaces for high-traffic platforms.'
block main-header
	include ../modules/top-nav-title
block main-container 
	include ../modules/profile
	include ../modules/skills
	include ../modules/work-experience
	include ../modules/portfolio
	
block main-footer
	include ../modules/footer
block scripts
