extends ../config/template-style-guide
append config
	-currentPage		= "home"
	-siteName			= 'site'
	-content			= 'content'
	-pageDescription	= 'Pagina inicial de MyBoilerplate'
block body-container
	include ../core-modules/style-guide-components/style-guide-components