meta(charset="utf-8")
meta(name="description", content="Your page description here")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(name="apple-mobile-web-app-status-bar-style", content="default")
meta(name="format-detection", content="telephone=no")
link(rel="shortcut icon", type="image/x-icon", href="img/favicon.png")
