block config
	-let currentPage 		= 'home'
	-let content 			= 'My Page'
	-let siteName 			= 'GulpBoilerplate'
	-let pageDescription 	= 'Here is the description Page.'
doctype html
html(lang='en' prefix='og: http://ogp.me/ns#', class='no-js')
	head
		meta(charset="utf-8")
		meta(name="description", content=pageDescription)
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(name="apple-mobile-web-app-status-bar-style", content="default")
		meta(name="format-detection", content="telephone=no")
		link(rel="shortcut icon", type="image/png", href="images/icon_192.png")
		link(rel="icon", type="image/png", sizes="192x192", href="images/icon_192.png")
		link(rel="apple-touch-icon", sizes="192x192", href="images/icon_192.png")
		link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css")
		link(rel="preconnect" href="https://fonts.googleapis.com")
		link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
		link(href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet")
		link(rel="stylesheet" href="./tailwind-dist.css")
		title= currentPage.slice(0,1).toUpperCase() + currentPage.slice(1) + " | " + siteName
	body(class=`${currentPage} bg-gradient-to-br from-blue-50 via-indigo-50/30 to-purple-50/20 flex flex-col min-h-screen`, itemscope itemtype="http://schema.org/WebPage")
		//- here start the Main Header
		header(class='w-full flex items-center border-b border-[var(--base-color)]/20 shadow-sm')
			block main-header
		//- here ends the Main Header
		//- here start the Main Container
		main(class='flex-1')
			block main-container 
		//- here ends the Main Container
		//- here start the Main Footer
		footer(class='bg-[var(--base-color)] min-h-[var(--footer-height)]')
			block main-footer
		//- here ends the Main Footer
		script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js")
		script(src="/assets/index-dist.js")
		block scripts
