block config
	include vars
doctype html
html(lang='en' prefix='og: http://ogp.me/ns#', class='no-js')
	head
		include metatags 
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		link(rel="stylesheet" href="./tailwind-dist.css")
		title= currentPage.slice(0,1).toUpperCase() + currentPage.slice(1) + " | " + siteName
	body(itemscope itemtype="http://schema.org/WebPage")
		block body-container
		script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js")
		script(src='index-dist.js')
		block scripts