:root {
	--header-color: #1F2024;
	--paragraph-color: #1F2024;
}

h1, h2, h3, h4, h5, h6 {
	color: var(--header-color);
	margin-bottom: 30px;
}

// Default text styles
html, body {
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font-style: normal;
	font-variant: normal;
	font-weight: 600;
	font-size: 32px;
	line-height: 40px;
	font-family: 'Montserrat', sans-serif; 
	letter-spacing: -0.5px;
	@screen l {
		font-size: 51px;
		line-height: 56px;
		letter-spacing: -0.66px;
	}
}

h2 {
	font-style: normal;
	font-weight: 600;
	font-size: 29px;
	line-height: 35px;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: -0.58px;
	@screen l{
		font-size: 41px;
		line-height: 49px;
		letter-spacing: -0.82px;
	}
}

h3 {
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: -0.48px;
	@screen l{
		font-size: 27px;
		line-height: 32px;
		letter-spacing: -0.54px;
	}
}

h4 {
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 28px;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: -0.4px;
	@screen l{
		font-size: 23px;
		line-height: 28px;
		letter-spacing: -0.46px;
	}
}

h5 {
	font-style: normal;
	font-weight: 600;
	font-size: 17px;
	line-height: 27px;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: -0.34px;
	@screen l{
		font-size: 19px;
		line-height: 23px;
		letter-spacing: -0.38px;
	}
}

h6 {
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 25px;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: -0.28px;
	@screen l{
		font-size: 15px;
		line-height: 27px;
		letter-spacing: -0.3px;
	}
}

p{
	margin-bottom: 20px;
}

p,span, a, ul li, ol li, table td {
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 27px;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 0px;
	--paragraph-color: #1F2024;
	@screen l{
		font-size: 16px;
		line-height: 22px;
		letter-spacing: 0px;
	}
}

table th {
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	font-size: 15px;
	line-height: 27px;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 0px;
	--paragraph-color: #1F2024;
	@screen l{
		font-size: 16px;
		line-height: 22px;
		letter-spacing: 0px;
	}
}

a {
	text-decoration : none;  
	&:hover { text-decoration : underline }
}

img {
	max-width : 100%;
	height    : auto;
}


ol, ul {
	display: block;
	margin-block: 1em;
	margin-inline: 0;
	padding-inline-start: 40px;
}
ol {
	list-style-type: decimal;
}
ul {
	list-style-type: disc;
}
