@import "core/media-queries";
@import "core/fonts";
@import "components/components";

body{
	@include fromTo(m,xl){
		background-color: red;
	}
}

.main-container {
	width: 100%;
	max-width: 3500px;
	margin: 0 auto;
	padding: 0 20px;
}
.container{ 
	width: 100%;
	max-width: 1600px; 
	margin: 0 auto;
}
