@import "libraries/libraries";
@import "media-queries/media-queries";

@theme {
	--breakpoint-s: 320px;
	--breakpoint-sm: 480px;
	--breakpoint-m: 640px;
	--breakpoint-l: 960px;
	--breakpoint-lg: 1280px;
	--breakpoint-xl: 1600px;
	--breakpoint-xxl: 1920px;
}
@layer base {
	@import "layout/layout";
	@import "layout/fonts";
	@import "hacks/hacks";
}

@layer components {
	@import "core-components/core-components";
	@import "internal-components/internal-components";
}

@layer utilities {
	@import "hacks/utilities";
} 
