.lp-pom-body {
	height: auto !important;
	width: auto !important;
	min-width: 100vw !important;
	min-height: 100vh !important;        
}

#lp-pom-root {
	height: auto !important;
	width: auto !important;
	min-width: 100vw !important;
	min-height: 100vh !important;
}


#lp-pom-root-color-overlay, #lp-pom-block-18-color-overlay, #lp-pom-block-18, #lp-pom-block-11, #lp-code-14 {
	height: auto !important;
	width: auto !important;
	min-width: 100vw !important;
	min-height: 100vh !important;

}

.lp-positioned-content{
	height: auto !important;
	width: auto !important;
	min-width: 100vw !important;
	min-height: 100vh !important;  
	margin-left: 0 !important;
	left: 0;
}

#lp-code-19 {
	height: auto !important;
	width: auto !important;
	min-width: 100vw !important;
	min-height: 100vh !important;
}

.lp-pom-block-content {
	height: auto !important;
	width: auto !important;
	min-width: 100vw !important;
	min-height: 100vh !important;
}

#lp-code-14 {
	top: 0;
}
.footer-ol-first li {
	margin-bottom: 18px;
	list-style: decimal;
}

.footer-ol-second li {
	margin-bottom: 10px;
	list-style: lower-alpha;
}

.footer-ol-third li {
	margin-bottom: 5px;
	list-style: disc;
}
